<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dalealdado.dalealdado">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.dalealdado.choised.view.Aventura.Dialogs.FuenteDialog"></activity>
        <activity android:name="com.dalealdado.choised.view.Aventura.Dialogs.SelectPj" />
        <activity android:name="com.dalealdado.choised.view.Aventura.ProtagonistaActivity" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Cueva2" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Cueva1" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Bosque6" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Bosque5" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Bosque4" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Bosque3" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Bosque2" />
        <activity android:name="com.dalealdado.choised.view.Aventura.CasaSenyorHuerto" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Bosque1" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Castillo" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Mercado" />
        <activity android:name="com.dalealdado.choised.view.Aventura.BarrioArma" />
        <activity android:name="com.dalealdado.choised.view.Aventura.BarrioMagia" />
        <activity android:name="com.dalealdado.choised.view.Aventura.Fuente" />
        <activity android:name="com.dalealdado.choised.EnemigosModifActivity" />
        <activity android:name="com.dalealdado.choised.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dalealdado.choised.DadosActivity" />
        <activity android:name="com.dalealdado.choised.InfoActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.dalealdado.choised.PersonajesActivity"
            android:label="@string/title_activity_personajes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.dalealdado.choised.EnemigosNewActivity" />
        <activity android:name="com.dalealdado.choised.view.EnemigosShowActivity" />
        <activity android:name="com.dalealdado.choised.HeroesNewActivity" />
        <activity android:name="com.dalealdado.choised.view.HeroesShowActivity" />
        <activity android:name="com.dalealdado.choised.ShopActivity" />
        <activity android:name="com.dalealdado.choised.EscenariosActivity" />
        <activity android:name="com.dalealdado.choised.EscenarioNewActivity" />
        <activity android:name="com.dalealdado.choised.EscenarioShowActivity" />
        <activity android:name="com.dalealdado.choised.EscenarioActivity" />
    </application>

</manifest>